body {
	font-weight: normal;
	font-family: monospace;
	color: black;
}

h1 {
	text-align: center;
}

p {
	text-align: justify;
	text-align-last: center;
	font-size: larger;
  margin-left: 50px;
  margin-right: 50px;
}

pre {
	font-weight: normal;
	font-family: monospace;
	color: black;
}

 .button1 {
  background-color: blue;
  border: none;
  color: yellow;
  padding: 15px 32px;
  width: 100px;
  margin-left: 42.5%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  font-family: monospace;
}

.button1:hover {
  background-color: white;
  border: none;
  color: black;
  padding: 15px 32px;
  width: 100px;
  margin-left: 42.5%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  border: 2px solid blue;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  font-family: monospace;
 }

 .button2 {
  background-color: yellow;
  border: none;
  color: blue;
  padding: 15px 32px;
  width: 100px;
  margin-left: 42.5%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  font-family: monospace;
}

.button2:hover {
  background-color: white;
  border: none;
  color: black;
  padding: 15px 32px;
  width: 100px;
  margin-left: 42.5%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  border: 2px solid yellow;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  font-family: monospace;
 }
